{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 0.7fr 3fr;
    }
    .list {
        padding: 15px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 30px;
    }
    .item {
        background: gray;
        margin: 10px;
        padding-bottom: 100px;
        text-align: center;
    }
    .item a {
        color: red;
    }
</style>

<div class="room-container">

        <div class="list">
            <h4>
            <a href="/items">All</a><br>
{#            <a href="?q=smartphone">Smartphone</a><br>#}
{#            <a href="?q=laptop">Laptop</a><br>#}
            </h4>
            <h4>
                {% for it in category %}
                    <a href="?q={{it.name|lower}}">{{ it.name }}</a><br>
                {% endfor %}
            </h4>
        </div>

        <div class="content container">
            {% if not items %}
            <h2>Sorry, there is no {{ item_name }} in market</h2>
            {% else %}
            {% for item in items %}

                <div class="item">
                    <a href="items/{{ item.id }}">
                        <h3>{{ item.title }}</h3>
                        <hr>
                        <h4>{{ item.description }}</h4><br>
                    </a>
                </div>

            {% endfor %}
            {% endif %}
        </div>

</div>


{% endblock %}