[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
aiomysql = "*"
tortoise-orm = "*"
asyncpg = "*"
ujson = "*"
jinja2 = "*"
sanic-ext = "*"
sanic = {extras = ["ext"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
