{% extends 'main.html' %}

{% block content %}

<style>
    .room-container {
        display: grid;
        grid-template-columns: 0.7fr 3fr;
    }
    .list {
        padding: 15px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 30px;
    }
    .item {
        background: gray;
        margin: 10px;
        padding-bottom: 100px;
        text-align: center;
    }
    .item a {
        color: red;
    }
</style>


    <form method="post">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

<div id="container">
<div class="row">
    <div class="col-md-4">
        <div class="form-group label-floating">
            <label class="control-label">Act</label>
            <input type="text" class="form-control" v-model="act" >
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group label-floating">
            <label class="control-label">Section </label>
            <input type="text" class="form-control" v-model="section">
        </div>
    </div>

</div>
</div>
<button id="btn">Add row</button>
        <input type="submit" value="submit">
    </form>
{% endblock %}