{% extends 'admin/master.html' %}

{% block content %}

<div class="container">
    <div>
        <div class="col-md-12">List of Items</div>
    </div>
    <div>
        <table class="table">
            <thead style="background-color: brown; color: aliceblue">
                <th>ID</th>
                <th>Item Title</th>
                <th>Description</th>
{#                <th>Brand</th>#}
{#                <th>Category</th>#}
                <th>Cost</th>
                <th>Quantity</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
{#                        <td>item.brand_id</td>#}
{#                        <td>item.category_id</td>#}
                        <td>{{ item.cost }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="/admin/{{ item.id }}/edit">Edit</a> | <a href="/admin/{{ item.id }}/delete">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}